@import '~bootstrap/scss/bootstrap';

#print-words {
  flex-wrap: wrap;
}

#word-id {
  padding: 0px;
  margin: -1px;
}



.board {
  display: block;
  align-self: center;
  flex-direction: column;
}

.auth-button {
  display: flex;
  align-self: flex-end;
}


.handlebars-menu {
  padding: 0 0 30px 0;
}
